doctype html
html
  head
    title= title
    link(rel="stylesheet" href="style.css")
    link(rel="stylesheet" href="all.min.css")
  body
    .container
        .block
            h3 Artem Tsybulkin
            .contacts
                .contact
                    i.fa-solid.fa-at
                    a(href="mail:ar.tsybulkin@outlook.com") ar.tsybulkin@outlook.com
                .contact
                    i.fa-brands.fa-linkedin
                    a(href="https://www.linkedin.com/in/artyomtsybulkin/") artyomtsybulkin
                .contact
                    i.fa-solid.fa-mobile
                    a(href="tel:+995.598.592.037") +995.598.592.037
        .block
            h3 Summary 

            p I am an IT engineer with over 15 years of experience in networking technologies, including Microsoft-based and Linux-based systems administration. I have deep knowledge of Ethernet switching and IP routing technologies, as well as infrastructure deployment, maintenance, and troubleshooting of application layer services. Additionally, I have expertise in business-related automation and monitoring. Currently I am a full-time remotely employed IT Systems Administrator in BAEX IT company located in Toronto. 
        .block
            h3 Computer/Technology Skills
        .block
            h3 Education
        .block
            h3 Work Experience
        .block
            h3 Additional study
    //h1= message